interactions:
- request:
    body: grant_type=client_credentials&client_id=1234567890&client_secret=abcdefghi
    headers:
      Authorization: [Basic HIDDEN-AUTH-TOKEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/users/me?access_token=APP_USR-HIDDEN-ACCESS-TOKEN
  response:
    body: {string: '{"access_token": "APP_USR-HIDDEN-ACCESS-TOKEN", "token_type":
        "bearer", "expires_in": 21600, "scope": "marketplace_off offline_access read
        reporting_full wallet-payments write", "user_id": 123456789, "refresh_token":
        "TG-HIDDEN-REFRESH-KEY"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [dd5d05a8f09743f6057b740ca1ecf6ba]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/users/me?access_token=APP_USR-HIDDEN-ACCESS-TOKEN
  response:
    body: {string: '[{"id": "visa", "name": "Visa", "payment_type_id": "credit_card",
        "thumbnail": "http://img.mlstatic.com/org-img/MP3/API/logos/visa.gif", "secure_thumbnail":
        "https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif"}, {"id": "master",
        "name": "Mastercard", "payment_type_id": "credit_card", "thumbnail": "http://img.mlstatic.com/org-img/MP3/API/logos/master.gif",
        "secure_thumbnail": "https://www.mercadopago.com/org-img/MP3/API/logos/master.gif"},
        {"id": "amex", "name": "American Express", "payment_type_id": "credit_card",
        "thumbnail": "http://img.mlstatic.com/org-img/MP3/API/logos/amex.gif", "secure_thumbnail[...]
