interactions:
- request:
    body: grant_type=client_credentials&client_id=1234567890&client_secret=abcdefghi
    headers:
      Authorization: [Basic HIDDEN-AUTH-TOKEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/users/me?access_token=APP_USR-HIDDEN-ACCESS-TOKEN
  response:
    body: {string: '{"access_token": "APP_USR-HIDDEN-ACCESS-TOKEN", "token_type":
        "bearer", "expires_in": 21600, "scope": "marketplace_off offline_access read
        reporting_full wallet-payments write", "user_id": 123456789, "refresh_token":
        "TG-HIDDEN-REFRESH-KEY"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [04095238b7dbbc7de94673ff0a3691d9]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/users/me?access_token=APP_USR-HIDDEN-ACCESS-TOKEN
  response:
    body: {string: '{"id": 1234567890, "nickname": "HIDDEN-NICKNAME", "registration_date":
        "2018-12-17T11:12:58.000-04:00", "first_name": "Test", "last_name": "HIDDEN-LASTNAME",
        "gender": "", "country_id": "AR", "email": "HIDDEN-EMAIL@gmail.com", "identification":
        {"number": "1111111", "type": "DNI"}, "address": "HIDDEN-ADDRESS", "phone":
        {"area_code": "01", "extension": "", "number": "1111-1111", "verified": false},
        "alternative_phone": {"area_code": "", "extension": "", "number": ""}, "user_type":
        "normal", "tags": ["normal", "test_user", "user_info_verified", "messages_as_seller"],
        "logo": null, "points": 100, "site_id": "MLA", "permalink": "http://perfil.mercadolibre.com.ar/",
        "shipping_modes": ["custom", "not_specified"], "seller_experience": "NEWBIE",
        "bill_data": {"accept_credit_note": null}, "seller_reputation": {"level_id":
        null, "power_seller_status": null, "transactions": {"canceled": 0, "completed":
        0, "period": "historic", "ratings": {"negative": 0, "neutral": 0, "positive":
        0}, "total": 0}, "metrics": {"sales": {"period": "60 months", "completed":
        0}, "claims": {"period": "60 months", "rate": 0}, "delayed_handling_time":
        {"period": "60 months", "rate": 0}}}, "buyer_reputation": {"canceled_transactions":
        0, "tags": [], "transactions": {"canceled": {"paid": null, "total": null},
        "completed": null, "not_yet_rated": {"paid": null, "total": null, "units":
        null}, "period": "historic", "total": null, "unrated": {"paid": null, "total":
        null}}}, "status": {"billing": {"allow": true, "codes": []}, "buy": {"allow":
        true, "codes": [], "immediate_payment": {"reasons": [], "required": false}},
        "confirmed_email": false, "shopping_cart": {"buy": "allowed", "sell": "allowed"},
        "immediate_payment": false, "list": {"allow": true, "codes": [], "immediate_payment":
        {"reasons": [], "required": false}}, "mercadoenvios": "not_accepted", "mercadopago_account_type":
        "personal", "mercadopago_tc_accepted": true, "required_action": "", "sell":
        {"allow": true, "codes": [], "immediate_payment": {"reasons": [], "required":
        false}}, "site_status": "active", "user_type": "simple_registration"}, "secure_email":
        "ttest.6tlqc3@mail.mercadolibre.com", "credit": {"consumed": 0, "credit_level_id":
        "MLA5", "rank": "newbie"}, "context": {}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
