interactions:
- request:
    body: grant_type=client_credentials&client_id=1234567890&client_secret=abcdefghi
    headers:
      Authorization: [Basic HIDDEN-AUTH-TOKEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/users/me?access_token=APP_USR-HIDDEN-ACCESS-TOKEN
  response:
    body: {string: '{"access_token": "APP_USR-HIDDEN-ACCESS-TOKEN", "token_type":
        "bearer", "expires_in": 21600, "scope": "marketplace_off offline_access read
        reporting_full wallet-payments write", "user_id": 123456789, "refresh_token":
        "TG-HIDDEN-REFRESH-KEY"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [8b5983c26227b3ca36bd1ba2e2de8996]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/users/me?access_token=APP_USR-HIDDEN-ACCESS-TOKEN
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
