interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": 123456789, "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [5207c1733d2aee8c4c55f7bd7c8b338a]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/myfeeds
  response:
    body: {string: '{"messages": [{"_id": "5c30ae6b10b2aea6440d5ca4", "resource":
        "/items/MLA610368818", "user_id": 63947924, "topic": "items", "application_id":
        4607298613855815, "attempts": 1, "sent": "2019-01-05T13:17:31.811Z", "received":
        "2019-01-05T13:17:31.695Z", "request": {"url": "https://localhost:8000/auth",
        "headers": {"host": "localhost:8000", "accept": "application/json", "content-type":
        "application/json", "content-length": 188}, "data": "{\"resource\":\"/items/MLA610368818\",\"user_id\":63947924,\"topic\":\"items\",\"application_id\":4607298613855815,\"attempts\":1,\"sent\":\"2019-01-05T13:17:31.811Z\",\"received\":\"2019-01-05T13:17:31.695Z\"}"},
        "response": {"req_time": 9, "error": {"code": "ECONNREFUSED", "errno": "ECONNREFUSED",
        "syscall": "connect"}}}, {"_id": "5c2e7416f80d8fe653370c66", "resource": "/questions/6017193454",
        "user_id": "63947924", "topic": "questions", "application_id": 4607298613855815,
        "attempts": 1, "sent": "2019-01-03T20:44:06.481Z", "received": "2019-01-03T20:44:06.406Z",
        "request": {"url": "https://localhost:8000/auth", "headers": {"host": "localhost:8000",
        "accept": "application/json", "content-type": "application/json", "content-length":
        196}, "data": "{\"resource\"[...]
