interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": "HIDDEN", "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [6e890525ab474339e27fb8fa51119420]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/applications/HIDDEN
  response:
    body: {string: '{"id": "HIDDEN", "site_id": "MLA", "name": "HIDDEN", "description":
        "mercadeo", "thumbnail": null, "owner_id": "HIDDEN", "catalog_product_id":
        null, "item_id": null, "price": null, "currency_id": null, "need_authorization":
        true, "short_name": "HIDDEN", "url": "HIDDEN", "callback_url": "https://localhost:8000/auth",
        "sandbox_mode": false, "is_public": true, "project_id": 0, "active": true,
        "max_requests_per_hour": 18000, "scopes": ["read", "write", "offline_access"],
        "notifications_callback_url": "https://localhost:8000/auth", "notifications_topics":
        ["claims", "quotations", "orders_v2", "items", "shipments", "payments", "pictures",
        "questions", "orders", "invoices", "created_orders", "messages"], "access_token":
        "HIDDEN", "test_access_token": "HIDDEN", "domains": [], "certification_status":
        "not_certified"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [3b3c9efc748f0fc8da7671bd01af7eec]
    status: {code: 200, message: OK}
version: 1
