interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": "HIDDEN", "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [b0dd1a109fbc82e6ad9221fd5f3a40c7]
    status: {code: 200, message: OK}
- request:
    body: '{"item_id": "MLA716819109", "text": "Tienen Stock?"}'
    headers:
    method: POST
    uri: https://api.mercadolibre.com/questions/MLA716819109
  response:
    body: {string: '{"id": "HIDDEN", "answer": null, "date_created": "2018-12-29T21:01:25.118-04:00",
        "item_id": "HIDDEN", "seller_id": "HIDDEN", "status": "UNANSWERED", "text":
        "Tienen Stock?", "from": {"id": "some id"}}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [350380c17674b0570afd7a0c776d8a5a]
      Location: ['https://api.mercadolibre.com/questions/6019166888']
    status: {code: 201, message: Created}
version: 1
