interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": "HIDDEN", "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [d6e6f0dd1cb08c29b7a5b8da11fbedf7]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/questions/search
  response:
    body: {string: '{"total": 0, "limit": 50, "questions": [{"date_created": "2016-08-01T16:50:15.000-04:00",
        "item_id": "MLA12312123", "seller_id": 123456789, "status": "ANSWERED", "text":
        "ok", "id": 123123123123, "deleted_from_listing": false, "hold": false, "answer":
        {"text": "Publicadas!!!.", "status": "ACTIVE", "date_created": "2016-08-01T17:23:55.000-04:00"},
        "from": {"id": 123456789, "answered_questions": 6}}], "filters": "HIDDEN",
        "available_filters": [{"id": "seller", "name": "Seller id", "type": "number"},
        {"id": "totalDivisions", "name": "total divisions", "type": "number"}, {"id":
        "division", "name": "Division", "type": "number"}, {"id": "status", "name":
        "Status", "type": "text", "values": ["ANSWERED", "BANNED", "CLOSED_UNANSWERED",
        "DELETED", "DISABLED", "UNANSWERED", "UNDER_REVIEW"]}], "available_sorts":
        ["item_id", "from_id", "date_created", "seller_id"]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [dab511b6f5a3507b399b1e43863b6268]
    status: {code: 200, message: ''}
version: 1
