interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": 123456789, "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [d167d897d0bc71cbb53d7652675af5fa]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/myfeeds
  response:
    body: {string: '{"messages": [{"_id": "5c28419766dc13177f04b366", "resource":
        "/questions/6019408863", "user_id": "63947924", "topic": "questions", "application_id":
        4607298613855815, "attempts": 1, "sent": "2018-12-30T03:55:03.744Z", "received":
        "2018-12-30T03:55:03.718Z", "request": {"url": "https://localhost:8000/auth",
        "headers": {"host": "localhost:8000", "accept": "application/json", "content-type":
        "application/json", "content-length": 196}, "data": "{\"resource\":\"/questions/6019408863\",\"user_id\":\"63947924\",\"topic\":\"questions\",\"application_id\":4607298613855815,\"attempts\":1,\"sent\":\"2018-12-30T03:55:03.744Z\",\"received\":\"2018-12-30T03:55:03.718Z\"}"},
        "response": {"req_time": 3, "error": {"code": "ECONNREFUSED", "errno": "ECONNREFUSED",
        "syscall": "connect"}}}, {"_id": "5c283b0547a7b91157f61177", "resource": "/questions/6019492931",
        "user_id": "63947924", "topic": "questions", "application_id": 4607298613855815,
        "attempts": 1, "sent": "2018-12-30T03:27:01.133Z", "received": "2018-12-30T03:27:00.221Z",
        "request": {"url": "https://localhost:8000/auth", "headers": {"host": "localhost:8000",
        "accept": "application/json", "content-type": "application/json", "content-length":
        196}, "data": "{\"resource\"[...]
