interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": "HIDDEN", "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [3fc04daf99dcde40f8c296e8603b2650]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/questions/HIDDEN
  response:
    body: {string: '{"id": "HIDDEN", "seller_id": "HIDDEN", "text": "Necesito m\u00e1s
        seguridad que precisi\u00f3n porque se trata de elevar una persona que con
        el controlador del motor subir\u00eda/bajar\u00eda la plataforma. Me dar\u00edas
        una idea de costo del motor o las caracter\u00edsticas que me recomendar\u00edas
        para buscarlo ? podr\u00eda ser el tornillo de m\u00e1s longitud, por ejemplo
        1700 mm ? en ese caso la velocidad podr\u00eda ser de 30 a 40 mm/seg.", "status":
        "ANSWERED", "item_id": "HIDDEN", "date_created": "2016-08-10T12:03:24.000-04:00",
        "hold": false, "deleted_from_listing": false, "answer": {"text": "Tendr\u00eda
        q averiguarlo escr\u00edbeme y en unos d\u00edas te respondo", "status": "ACTIVE",
        "date_created": "2016-08-10T13:30:47.000-04:00"}, "from": {"id": 191561754,
        "answered_questions": 3}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
