interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": "HIDDEN", "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [e6d098b613dfe56a542abe03b53e9675]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/users/HIDDEN/accepted_payment_methods
  response:
    body: {string: '[{"id": "HIDDEN", "name": "HIDDEN", "payment_type_id": "credit_card",
        "thumbnail": "http://img.mlstatic.com/org-img/MP3/API/logos/visa.gif", "secure_thumbnail":
        "https://www.mercadopago.com/org-img/MP3/API/logos/visa.gif"}, {"id": "HIDDEN",
        "name": "HIDDEN", "payment_type_id": "credit_card", "thumbnail": "http://img.mlstatic.com/org-img/MP3/API/logos/master.gif",
        "secure_thumbnail": "https://www.mercadopago.com/org-img/MP3/API/logos/master.gif"},
        {"id": "HIDDEN", "name": "HIDDEN", "payment_type_id": "credit_card", "thumbnail":
        "http://img.mlstatic.com/org-img/MP3/API/logos/amex.gif", "secure_thumbnail":
        "[...]
