interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": 123456789, "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [5da3326f7c3780de5f855b4a58b80483]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/users/me
  response:
    body: {string: '{"id": 123456789, "nickname": "HIDDEN", "registration_date": "2012-11-14T02:00:25.000-04:00",
        "first_name": "Jose Luis", "last_name": "HIDDEN", "gender": "", "country_id":
        "AR", "email": "HIDDEN", "identification": 123456789, "internal_tags": ["developer"],
        "address": {"address": "some address", "city": "some city", "state": "some
        state", "zip_code": "1234"}, "phone": {"area_code": "area", "extension": "extension",
        "number": "number", "verified": false}, "alternative_phone": 123456789, "user_type":
        "normal", "tags": ["normal", "user_info_verified", "credits_priority_3", "credits_profile",
        "eshop", "developer", "messages_as_seller", "messages_as_buyer"], "logo":
        null, "points": 687, "site_id": "MLA", "permalink": "HIDDEN", "shipping_modes":
        ["custom", "not_specified", "me2"], "seller_experience": "ADVANCED", "bill_data":
        {"accept_credit_note": null}, "seller_reputation": {"level_id": "4_light_green",
        "power_seller_status": null, "transactions": {"canceled": 13, "completed":
        721, "period": "historic", "ratings": {"negative": 0, "neutral": 0, "positive":
        1}, "total": 734}, "metrics": {"sales": {"period": "60 months", "completed":
        721}, "claims": {"period": "60 months", "rate": 0.0095}, "delayed_handling_time":
        {"period": "60 months", "rate": 0.0738}}}, "buyer_reputation": {"canceled_transactions":
        0, "tags": [], "transactions": {"canceled": {"paid": null, "total": null},
        "completed": null, "not_yet_rated": {"paid": null, "total": null, "units":
        null}, "period": "historic", "total": null, "unrated": {"paid": null, "total":
        null}}}, "status": {"billing": {"allow": true, "codes": []}, "buy": {"allow":
        true, "codes": [], "immediate_payment": {"reasons": [], "required": false}},
        "confirmed_email": true, "shopping_cart": {"buy": "allowed", "sell": "allowed"},
        "immediate_payment": false, "list": {"allow": true, "codes": [], "immediate_payment":
        {"reasons": [], "required": false}}, "mercadoenvios": "not_accepted", "mercadopago_account_type":
        "personal", "mercadopago_tc_accepted": true, "required_action": "", "sell":
        {"allow": true, "codes": [], "immediate_payment": {"reasons": [], "required":
        false}}, "site_status": "active", "user_type": "simple_registration"}, "secure_email":
        "HIDDEN", "company": 123456789, "credit": {"consumed": -72.58, "credit_level_id":
        "MLA1", "rank": "premium"}, "context": {}, "thumbnail": {"picture_id": "586705-MLA25080009239_102016",
        "picture_url": "https://mla-s2-p.mlstatic.com/586705-MLA25080009239_102016-O.jpg"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/questions/search
  response:
    body: {string: '{"total": 2994, "limit": 50, "questions": [{"date_created": "2016-08-01T16:50:15.000-04:00",
        "item_id": "MLA12312123", "seller_id": 123456789, "status": "ANSWERED", "text":
        "ok", "id": 123123123123, "deleted_from_listing": false, "hold": false, "answer":
        {"text": "Publicadas!!!.", "status": "ACTIVE", "date_created": "2016-08-01T17:23:55.000-04:00"},
        "from": {"id": 123456789, "answered_questions": 6}}], "filters": 123456789,
        "available_filters": [{"id": "item", "name": "Item", "type": "text"}, {"id":
        "from", "name": "From user id", "type": "number"}, {"id": "totalDivisions",
        "name": "total divisions", "type": "number"}, {"id": "division", "name": "Division",
        "type": "number"}, {"id": "status", "name": "Status", "type": "text", "values":
        ["ANSWERED", "BANNED", "CLOSED_UNANSWERED", "DELETED", "DISABLED", "UNANSWERED",
        "UNDER_REVIEW"]}], "available_sorts": ["item_id", "from_id", "date_created",
        "seller_id"]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [f4e2cc8efdd999f4fa645ce26cb76687]
    status: {code: 200, message: ''}
version: 1
