interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": 123456789, "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [29dc18c4bee593f02ed82365ae2d4557]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/users/HIDDEN/available_listing_types
  response:
    body: {string: '{"available": [{"site_id": "MLA", "id": "gold_pro", "name": "Premium",
        "remaining_listings": null}, {"site_id": "MLA", "id": "gold_premium", "name":
        "Oro Premium", "remaining_listings": null}, {"site_id": "MLA", "id": "gold_special",
        "name": "Cl\u00e1sica", "remaining_listings": null}, {"site_id": "MLA", "id":
        "gold", "name": "Oro", "remaining_listings": null}, {"site_id": "MLA", "id":
        "silver", "name": "Plata", "remaining_listings": null}, {"site_id": "MLA",
        "id": "bronze", "name": "Bronce", "remaining_listings": null}], "exceptions_by_category":
        [{"category_id": "MLA1743", "available": [{"site_id": "MLA", "id": "gold_premium",
        "name": "Oro Premium", "remaining_listings": null}, {"site_id": "MLA", "id":
        "gold", "name": "Oro", "remaining_listings": null}, {"site_id": "MLA", "id":
        "silver", "name": "Plata", "remaining_listings": null}, {"site_id": "MLA",
        "id": "free", "name": "Gratuita", "remaining_listings": 1}]}, {"category_id":
        "MLA1459", "available": [{"site_id": "MLA", "id": "gold_premium", "name":
        "Oro Premium", "remaining_listings": null}, {"site_id": "MLA", "id": "gold",
        "name": "Oro", "remaining_listings": null}, {"site_id": "MLA", "id": "silver",
        "name": "Plata", "remaining_listings": null}, {"site_id": "MLA", "id": "free",
        "name": "Gratuita", "remaining_listings": 1}]}, {"category_id": "MLA1540",
        "available": [{"site_id": "MLA", "id": "gold_premium", "name": "Platino 180",
        "remaining_listings": null}, {"site_id": "MLA", "id": "silver", "name": "B\u00e1sico
        180", "remaining_listings": null}, {"site_id": "MLA", "id": "gold", "name":
        "Platino 90", "remaining_listings": null}, {"site_id": "MLA", "id": "bronze",
        "name": "B\u00e1sico 90", "remaining_listings": null}, {"site_id": "MLA",
        "id": "free", "name": "Gratis", "remaining_listings": 1}]}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [b8e1f3b4f3e2d2dbf8f1dcae081ba363]
      Last-Modified: ['Wed, 26 Dec 2018 23:31:08 GMT-04:00']
    status: {code: 200, message: OK}
version: 1
