interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": "HIDDEN", "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [09d70f9115dd8101bcbc0eca3cfdb895]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/users/me
  response:
    body: {string: '{"id": "HIDDEN", "nickname": "HIDDEN", "registration_date": "2011-04-01T07:42:50.000-04:00",
        "first_name": "Eduardo Arturo", "last_name": "HIDDEN", "gender": "", "country_id":
        "AR", "email": "HIDDEN", "identification": "HIDDEN", "internal_tags": ["developer"],
        "address": "HIDDEN", "phone": "HIDDEN", "alternative_phone": "HIDDEN", "user_type":
        "normal", "tags": ["normal", "user_info_verified", "messages_as_seller", "messages_as_buyer"],
        "logo": null, "points": 76, "site_id": "MLA", "permalink": "HIDDEN", "shipping_modes":
        ["custom", "not_specified", "me2"], "seller_experience": "ADVANCED", "bill_data":
        {"accept_credit_note": null}, "seller_reputation": {"level_id": "5_green",
        "power_seller_status": null, "transactions": {"canceled": 0, "completed":
        11, "period": "historic", "ratings": {"negative": 0, "neutral": 0, "positive":
        1}, "total": 11}, "metrics": {"sales": {"period": "60 months", "completed":
        11}, "claims": {"period": "60 months", "rate": 0}, "delayed_handling_time":
        {"period": "60 months", "rate": 0}}}, "buyer_reputation": {"canceled_transactions":
        0, "tags": [], "transactions": {"canceled": {"paid": 0, "total": 0}, "completed":
        3, "not_yet_rated": {"paid": 0, "total": 1, "units": 1}, "period": "historic",
        "total": 4, "unrated": {"paid": 0, "total": 0}}}, "status": {"billing": {"allow":
        true, "codes": []}, "buy": {"allow": true, "codes": [], "immediate_payment":
        {"reasons": [], "required": false}}, "confirmed_email": true, "shopping_cart":
        {"buy": "allowed", "sell": "allowed"}, "immediate_payment": false, "list":
        {"allow": true, "codes": [], "immediate_payment": {"reasons": [], "required":
        false}}, "mercadoenvios": "not_accepted", "mercadopago_account_type": "personal",
        "mercadopago_tc_accepted": true, "required_action": "", "sell": {"allow":
        true, "codes": [], "immediate_payment": {"reasons": [], "required": false}},
        "site_status": "active", "user_type": "simple_registration"}, "secure_email":
        "HIDDEN", "credit": {"consumed": 0, "credit_level_id": "MLA1", "rank": "premium"},
        "context": {}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
