interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": "HIDDEN", "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [47ff71b22348713f53068c3cc310555c]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/questions/search
  response:
    body: {string: '{"total": 2988, "limit": 50, "questions": [{"date_created": "2016-08-01T16:50:15.000-04:00",
        "item_id": "MLA629530764", "seller_id": 128828674, "status": "ANSWERED", "text":
        "ok", "id": 4206507153, "deleted_from_listing": false, "hold": false, "answer":
        {"text": "Publicadas. De todos modos tus calificaciones no ayudan a la venta!
        De estar interesado necesitas ofertar desde otra cuenta con mejor calificacion.",
        "status": "ACTIVE", "date_created": "2016-08-01T17:23:55.000-04:00"}, "from":
        {"id": 69589128, "answered_questions": 6}}, {"date_created": "2016-08-01T17:48:36.000-04:00",
        "item_id": "MLA629530764", "seller_id": 128828674, "status": "ANSWERED", "text":
        "se lo puede ver, soy de rosario. Para probarlo con la camara", "id": 4206405709,
        "deleted_from_listing": false, "hold": false, "answer": {"text": "Si, no habr\u00eda
        problemas. Tenes alguna cuenta con mejor calificaci\u00f3n.? En que zona estas?
        Yo estoy en Avellaneda y Alberdi aprox", "status": "ACTIVE", "date_created":[...]
