interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": "HIDDEN", "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [de0251160f5bec09228cc72fe579a67f]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/myfeeds
  response:
    body: {string: '{"messages": [{"_id": "5c181060d42441b1716c9adb", "resource":
        "/questions/5995837548", "user_id": "128828674", "topic": "questions", "application_id":
        4607298613855815, "attempts": 1, "sent": "2018-12-17T21:08:48.586Z", "received":
        "2018-12-17T21:08:48.527Z", "request": {"url": "https://localhost:8000/auth",
        "headers": {"host": "localhost:8000", "accept": "application/json", "content-type":
        "application/json", "content-length": 197}, "data": "{\"resource\":\"/questions/5995837548\",\"user_id\":\"128828674\",\"topic\":\"questions\",\"application_id\":4607298613855815,\"attempts\":1,\"sent\":\"2018-12-17T21:08:48.586Z\",\"received\":\"2018-12-17T21:08:48.527Z\"}"},
        "response": {"req_time": 1, "error": {"code": "ECONNREFUSED", "errno": "ECONNREFUSED",
        "syscall": "connect"}}}, {"_id": "5c145ab77a8021a8442608ed", "resource": "/items/MLA670377063",
        "user_id": 128828674, "topic": "items", "application_id": 4607298613855815,
        "attempts": 1, "sent": "2018-12-15T01:36:55.132Z", "received": "2018-12-15T01:36:55.062Z",
        "request": {"url": "https://localhost:8000/auth", "headers": {"host": "localhost:8000",
        "accept": "application/json", "content-type": "application/json", "content-length":
        189}, "data": "{\"resource\":\"/items/MLA670377063\",\"user_id\":128828674,\"topic\":\"items\",\"application_id\":4607298613855815,\"attempts\":1,\"sent\":\"2018-12-15T01:36:55.132Z\",\"received\":\"2018-12-15T01:36:55.062Z\"}"},
        "response": {"req_time": 2, "error": {"code": "ECONNREFUSED", "errno": "ECONNREFUSED",
        "syscall": "connect"}}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"bwbnsqQTwV5BbxclfWOMBQ=="]
    status: {code: 200, message: OK}
version: 1
