interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": 123456789, "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [f509c6a41cf5418dce7c0dc836e59d4a]
    status: {code: 200, message: OK}
version: 1
