interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": "HIDDEN", "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [ed28a4efe178bebf9b5c69ecc2c792cb]
    status: {code: 200, message: OK}
- request:
    body: '{"last_name": "new_last_name"}'
    headers:
    method: PUT
    uri: https://api.mercadolibre.com/users/HIDDEN
  response:
    body: {string: '{"user_id": "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [e9b7a7cd43e34692259d8085c2085c37]
    status: {code: 200, message: OK}
version: 1
