interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": "HIDDEN", "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [e857792a50e0c15133328f0ec7a6faf8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/myfeeds
  response:
    body: {string: '{"messages": [{"_id": "5c279d923f631b345f972dc2", "resource":
        "/questions/6016804002", "user_id": "63947924", "topic": "questions", "application_id":
        4607298613855815, "attempts": 1, "sent": "2018-12-29T16:15:14.033Z", "received":
        "2018-12-29T16:15:13.956Z", "request": {"url": "https://localhost:8000/auth",
        "headers": {"host": "localhost:8000", "accept": "application/json", "content-type":
        "application/json", "content-length": 196}, "data": "{\"resource\":\"/questions/6016804002\",\"user_id\":\"63947924\",\"topic\":\"questions\",\"application_id\":4607298613855815,\"attempts\":1,\"sent\":\"2018-12-29T16:15:14.033Z\",\"received\":\"2018-12-29T16:15:13.956Z\"}"},
        "response": {"req_time": 2, "error": {"code": "ECONNREFUSED", "errno": "ECONNREFUSED",
        "syscall": "connect"}}}, {"_id": "5c275cdd0f5f094663daf028", "resource": "/questions/6017024676",
        "user_id": "63947924", "topic": "questions", "application_id": 4607298613855815,
        "attempts": 1, "sent": "2018-12-29T11:39:09.803Z", "received": "2018-12-29T11:39:09.728Z",
        "request": {"url": "https://localhost:8000/auth", "headers": {"host": "localhost:8000",
        "accept": "application/json", "content-type": "application/json", "content-length":
        196}, "data": "{\"resource\"[...]
