interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": "HIDDEN", "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [31f001a8e7c8a254740e58cccae9088c]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/users/58715193/brands
  response:
    body: {string: '{"cust_id": 58715193, "site_id": "MLA", "user_type": "brand",
        "tags": ["eshop", "large_seller", "user_info_verified", "brand"], "brands":
        [{"official_store_id": 133, "site_id": "MLA", "name": "Bodega Lanzarini",
        "fantasy_name": "Bodega Lanzarini", "type": "normal", "status": "active",
        "permalink": "http://tienda.mercadolibre.com.ar/bodega-lanzarini", "date_created":
        "2014-08-04T04:00:00Z", "relevance_position": 69, "main_categories": [{"id":
        "MLA1403"}], "pictures": [{"id": 631, "name": "background", "secure_url":
        "https://http2.mlstatic.com/static/org-img/apparel/images/bodegalanzarini/58715193-bkg.jpg",
        "url": "http://http2.mlstatic.com/static/org-img/apparel/images/bodegalanzarini/58715193-bkg.jpg",
        "size": "1600x750"}, {"id": 632, "name": "big_logo", "secure_url": "https://http2.mlstatic.com/static/org-img/apparel/images/bodegalanzarini/58715193-logo-g.jpg",
        "url": "http://http2.mlstatic.com/static/org-img/apparel/images/bodegalanzarini/58715193-logo-g.jpg",
        "size": "174x164"}, {"id": 633, "name": "logo_landing", "secure_url": "https://http2.mlstatic.com/static/org-img/apparel/images/bodegalanzarini/58715193-logo-home.jpg",
        "url": "http://http2.mlstatic.com/static/org-img/[...]
