interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": 123456789, "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [7251a3341aa4763942a67ce44746a845]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/users/HIDDEN/addresses
  response:
    body: {string: '[{"id": 123456789, "user_id": 123456789, "contact": "Jose Luis
        Zanotti", "phone": "HIDDEN", "address_line": "HIDDEN", "floor": null, "apartment":
        null, "street_number": "HIDDEN", "street_name": "HIDDEN", "zip_code": "2000",
        "city": 123456789, "state": 123456789, "country": {"id": "AR", "name": "Argentina"},
        "neighborhood": {"id": null, "name": null}, "municipality": {"id": null, "name":
        null}, "search_location": {"state": {"id": "TUxBUFNBTmU5Nzk2", "name": "Santa
        Fe"}, "city": {"id": "TUxBQ1JPUzg1Yjg3", "name": "Rosario"}, "neighborhood":
        {"id": null, "name": null}}, "types": ["billing", "default_buying_address",
        "default_selling_address", "shipping"], "comment": "", "between": null, "references":
        null, "aditional_info": null, "geolocation_type": "RANGE_INTERPOLATED", "latitude":
        123456789, "longitude": 123456789, "status": "active", "date_created": "2015-10-19T21:37:23.000-04:00",
        "normalized": true, "open_hours": {"on_holidays": {"hours": [], "status":
        "closed"}}}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
