interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "marketplace_off offline_access read reporting_full wallet-payments
        write", "user_id": "HIDDEN", "refresh_token": "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [2ce53b8115a61513f689d8f5ba6c32df]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mercadolibre.com/applications/1654266771161618
  response:
    body: {string: '{"id": "HIDDEN", "site_id": "MLA", "name": "HIDDEN", "description":
        "Application for MercadoPago", "thumbnail": null, "owner_id": "HIDDEN", "catalog_product_id":
        null, "item_id": null, "price": null, "currency_id": null, "need_authorization":
        true, "short_name": "HIDDEN", "url": "HIDDEN", "callback_url": "https://www.mercadopago.com/",
        "sandbox_mode": true, "is_public": false, "project_id": null, "active": true,
        "max_requests_per_hour": 18000, "scopes": ["write", "wallet-payments", "reporting_full",
        "offline_access", "marketplace_off", "read"], "notifications_callback_url":
        null, "notifications_topics": [], "access_token": "HIDDEN", "test_access_token":
        "HIDDEN", "domains": [], "certification_status": "not_certified"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [3ea859746e01163a9bea02a5e0622663]
    status: {code: 200, message: OK}
version: 1
