interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "offline_access read write", "user_id": "HIDDEN", "refresh_token":
        "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [94f01b79aa6cdeaf1196af12c4de69c3]
    status: {code: 200, message: OK}
- request:
    body: '{"question_id": "6019488162", "text": "En Arroyito"}'
    headers:
    method: POST
    uri: https://api.mercadolibre.com/answers
  response:
    body: {string: '{"id": "HIDDEN", "seller_id": "HIDDEN", "text": "en que zona estas?",
        "status": "ANSWERED", "item_id": "HIDDEN", "date_created": "2018-12-29T23:16:15.000-04:00",
        "hold": false, "deleted_from_listing": false, "answer": {"text": "En Arroyito",
        "status": "ACTIVE", "date_created": "2018-12-29T23:19:32.694-04:00"}, "from":
        {"id": "some id", "answered_questions": 1}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
