interactions:
- request:
    body: grant_type=client_credentials&client_id=HIDDEN&client_secret=HIDDEN
    headers:
      Authorization: [HIDDEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/oauth/token
  response:
    body: {string: '{"access_token": "HIDDEN", "token_type": "bearer", "expires_in":
        21600, "scope": "marketplace_off offline_access read reporting_full wallet-payments
        write", "user_id": "HIDDEN", "refresh_token": "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [2f2b0d8987189326470ea2f843100523]
    status: {code: 200, message: OK}
- request:
    body: '{"last_name": "new_last_name"}'
    headers:
    method: PUT
    uri: https://api.mercadolibre.com/users/HIDDEN
  response:
    body: {string: '{"user_id": "HIDDEN"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [d7f95994b40f4daaea4f663ca2cfecda]
    status: {code: 200, message: OK}
version: 1
