interactions:
- request:
    body: grant_type=client_credentials&client_id=1234567890&client_secret=abcdefghi
    headers:
      Authorization: [Basic HIDDEN-AUTH-TOKEN]
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mercadolibre.com/users/me?access_token=APP_USR-HIDDEN-ACCESS-TOKEN
  response:
    body: {string: '{"access_token": "APP_USR-HIDDEN-ACCESS-TOKEN", "token_type":
        "bearer", "expires_in": 21600, "scope": "marketplace_off offline_access read
        reporting_full wallet-payments write", "user_id": 123456789, "refresh_token":
        "TG-HIDDEN-REFRESH-KEY"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [8f53049bd35fc63b0f8870a2d43fbaa3]
    status: {code: 200, message: OK}
- request:
    body: '{"last_name": "new_last_name"}'
    headers:
    method: PUT
    uri: https://api.mercadolibre.com/users/me?access_token=APP_USR-HIDDEN-ACCESS-TOKEN
  response:
    body: {string: '{"user_id": 123456789}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      ETag: [d7f95994b40f4daaea4f663ca2cfecda]
    status: {code: 200, message: OK}
version: 1
